<span class="parent-ico" (click)="display = true" type="button">
  <i class="pi pi-bars display-ico"></i>
</span>
<!-- chose Lang -->
<span class="Lang" type="button" (click)="ChangLan('ar')" *ngIf="Langage == 'en'">
  AR
</span>
<span class="Lang" type="button" (click)="ChangLan('en')" *ngIf="Langage == 'ar'">
  EN
</span>

<p-sidebar [(visible)]="display" [style]="{width:'265px',padding: '3px 10px'}">
  <div>
    <br>
    <!-- If User  Login Show Name -->
    <p *ngIf="UserDetail.result.Admin_code || UserDetail.result.usercode" class="UserName"> {{'Welcom' |translate}},
      {{UserDetail?.result.Name}}
    </p>
    <!-- If User Login Show Remove Login Btn -->
    <button *ngIf="!UserDetail.result.Admin_code && !UserDetail.result.usercode" class="btn btnDark"
      routerLink="./auth"> {{'Login' | translate}} </button>
    <button *ngIf="UserDetail.result.Admin_code" class="btn btnDark" (click)="ControlToggel()"> {{'Control' |
      translate}}</button>
    <!-- If Admin Login Show Controler  -->
    <div class="LiveDropdown ml-3 mt-2 pb-4" *ngIf="ControlToggelValue == true">
      <div>
        <button class="btn btnDark" [routerLink]="['./Admin/generate', ['admins']]">
          {{"Admins" | translate }}
        </button>
        <button class="btn btnDark" [routerLink]="['./Admin/generate' , ['users']]">
          {{"Users" | translate }}
        </button>
      </div>
    </div>
    <button *ngIf="UserDetail.result.Admin_code" class="btn btnDark" routerLink="./auth/SignUp"> {{'AddNewUser' |
      translate}}</button>
    <button *ngIf="UserDetail.result.Admin_code" class="btn btnDark" routerLink="./Admin/new-farm"> {{'AddNewpool' |
      translate}}</button>
    <!-- If User Login Show Controler  -->
    <button *ngIf="UserDetail.result.usercode" class="btn btnDark" (click)="LiveToggel()"> {{'Live' |
      translate}}</button>
    <div class="LiveDropdown ml-3 mt-2 pb-4" *ngIf="LiveToggelValue == true">
      <div *ngFor="let item of ToggelOption">
        <button class="btn btnDark" [routerLink]="['./Clint/Live' , item.Farm_name]">
          {{item.Farm_name}}
        </button>
      </div>
    </div>
    <button *ngIf="UserDetail.result.usercode" class="btn btnDark" (click)="ReportToggel()"> {{'Reports' |
      translate}}</button>
    <div class="LiveDropdown ml-3 mt-2 pb-4" *ngIf="ReportToggelValue == true">
      <div *ngFor="let item of ToggelOption">
        <button class="btn btnDark" [routerLink]="['./Clint/Report', item.Farm_name]">
          {{item.Farm_name}}
        </button>
      </div>
    </div>
    <button class="btn btnDark"> {{'About'| translate}} </button>
    <!-- If Admin or User Login Show Logout Btn  -->
    <button *ngIf="UserDetail.result.usercode || UserDetail.result.Admin_code" (click)="LogOut()" class="btn btnDark">
      {{'LogOut'| translate}} </button>
  </div>
</p-sidebar>
