<!-- <app-header></app-header> -->
<span class="parent-ico" routerLink="/" type="button">
  <i class="pi pi-arrow-left display-ico"></i>
</span>

<!-- chose Lang -->
<span class="Lang" type="button" (click)="ChangLan('ar')" *ngIf="Langage == 'en'"> Ar </span>
<span class="Lang" type="button" (click)="ChangLan('en')" *ngIf="Langage == 'ar'"> En </span>

<div class="Live">
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="digrams col-md-3 col-sm-12">
      <div class="col-5 mr-4 temp">
        <div>
          <div *ngIf="LiveTemp">
            <h5>Temperature</h5>
            <h3 [ngStyle]="{'color': LiveTemp >=15 ? 'red' : 'black', 'font-size':'30px'}">{{LiveTemp}}</h3>
          </div>
        </div>
        <div class="icon">
          <i class="pi pi-cloud" style="font-size: 2rem"></i>
        </div>
      </div>
      <div class="col-5 Ph">
        <div>
          <div *ngIf="LivePh">
            <h5>Ph</h5>
            <h3 [ngStyle]="{'color': LivePh >=15 ? 'red' : 'black', 'font-size':'30px'}">{{LivePh}}</h3>
          </div>
        </div>
        <div class="icon">
          <i class="pi pi-heart" style="font-size: 2rem"></i>
        </div>
      </div>
      <br>
      <hr>
      <div class="col-11 text-center mt-3 Detail">
        <div class="Child">
          <p-knob [max]="100" [(ngModel)]="LiveTemp" [strokeWidth]="7" [size]="100" [readonly]="true"
            valueColor="{{LiveTemp >= 50 ? 'red' : 'SlateGray'}}"></p-knob>
          <p>Temperature</p>
          <hr>
          <span class="saveTime">Save Each <span>{{UserDetail.save_time}}</span> Min </span>
        </div>
        <div class="Child">
          <p-knob [(ngModel)]="LivePh" [max]="12" [strokeWidth]="7" [size]="100" [readonly]="true"
            valueColor="{{LivePh >= 7 ? 'red' : 'SlateGray'}}"></p-knob>
          <p>Ph</p>
          <hr>
          <span class="saveTime">Save Each <span>{{UserDetail.save_time}}</span> Min </span>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="cam">
        <div *ngIf="Img">
          <img [src]="Img" alt="">
        </div>
        <div class="cameraNotWork" *ngIf="!Img">
          Camera Not Working
        </div>
      </div>
    </div>
  </div>
</div>
