<span class="parent-ico" routerLink="/" type="button">
  <i class="pi pi-arrow-left display-ico"></i>
</span>

<!-- chose Lang -->
<span class="Lang" type="button" (click)="ChangLan('ar')" *ngIf="Langage == 'en'"> Ar </span>
<span class="Lang" type="button" (click)="ChangLan('en')" *ngIf="Langage == 'ar'"> En </span>

<div class="divcontainer">
  <h3 class="PageTitle"> {{ 'Login' | translate }}</h3>
  <div class="Form">
    <!-- Login Form -->
    <form [formGroup]="LoginForm" (ngSubmit)="LOGIN()">
      <!-- User Name -->
      <span class="p-float-label">
        <input type="text" class="form-control" placeholder=" {{'UserName' | translate}}" pInput name="username"
          required formControlName="code" id="UserName">
        <!-- <label for="UserName">{{"UserName" | translate}}</label> -->
      </span>
      <!-- Password -->
      <span class="p-float-label">
        <input type="password" class="form-control" placeholder=" {{'Password' | translate}}" pInput name="Password"
          required formControlName="password" id="Password">
      </span><br>
      <span class="p-float-label">
        <select required class="form-control" formControlName="type" name="" id="">
          <option value="" hidden selected>User Type</option>
          <option value="0">admin</option>
          <option value="1">user</option>
        </select>
      </span>
      <br>
      <hr>
      <button class="btn btnDark" [disabled]="LoginForm.invalid"> {{ 'Login' | translate }} </button>
    </form>
  </div>
</div>
