<app-header *ngIf="UserDetail?.result.usercode || UserDetail?.result.Admin_code"></app-header>
<div class="HomePage">
  <div class="background">
    <div class="image">
      <!-- background for each User Or Admin -->
      <img *ngIf="UserDetail == null " src="../../assets/image/Dowloads/fish (7).jpg" alt="">
      <img *ngIf="UserDetail?.result.usercode" src="../../assets/image/Dowloads/fish (19).jpg" alt="">
      <img *ngIf="UserDetail?.result.Admin_code" src="../../assets/image/Dowloads/fish (18).jpg" alt="">
    </div>
    <div class="opacity">
      <div class="content">
        <div class="row">
          <div class="col-md-2 col-sm-12"><br><br><br><br></div>
          <div class="col-md-7 col-sm-12">
            <div class="content">
              <h1>{{'MonitoringFishFarms' | translate}}</h1>
              <!-- not login -->
              <h2 *ngIf="UserDetail?.result.usercode || UserDetail?.result.Admin_code"
                style="color: #ffc107; font-weight: 700;">{{"Welcom"|translate}}
                {{UserDetail?.result.Name}} </h2>
              <!-- user login -->
              <h4 *ngIf="UserDetail?.result.usercode">{{'WelcomUser'| translate}}</h4>
              <!-- admin login -->
              <h4 *ngIf="UserDetail?.result.Admin_code">{{'WelcomAdmin'| translate}}</h4>
              <!-- not login -->
              <h5 *ngIf="!UserDetail?.result.usercode && !UserDetail?.result.Admin_code">{{'ProjectIdea'|
                translate}}{{'ProjectIdea2'| translate}}{{'ProjectIdea3'|
                translate}}</h5>
              <!-- -->
              <div class="buttons" *ngIf="!UserDetail?.result.usercode && !UserDetail?.result.Admin_code">
                <!-- not login -->
                <button class="Effectbtn" pRipple routerLink="./auth"> {{ 'Login' |
                  translate }} </button>
                <button class="Effectbtn " pRipple routerLink="./auth/SignUp"> {{ 'SignUp' |
                  translate }} </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-12"></div>
        </div>
      </div>
    </div>
  </div>
</div>
