<app-header></app-header>
<div class="HomePage">
  <div class="row">
    <div class="Parent  text-center">
      <div class="child">
        <div class="content">
          <h1>{{'MonitoringFishFarms' | translate}}</h1>
          <h4>{{'ProjectIdea'| translate}}{{'ProjectIdea2'| translate}}{{'ProjectIdea3'| translate}}</h4>
          <div class="buttons">
            <button class="Effectbtn" pRipple routerLink="./auth"> {{ 'JoinUs' | translate }} </button>
            <button class="Effectbtn " pRipple> {{ 'ContactUs' | translate }} </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
